@import '../../styles/variables.scss';

.header {
	position: fixed;
	z-index: 5;
	width: 100%;
	height: 70px;
	z-index: 5;
}

.content {
	display: flex;
	justify-content: flex-end;
	padding: 20px 10px;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.container {
	max-width: 1248px;
	margin: 0 auto;
	position: relative;
}

.blur {
	backdrop-filter: blur(15px);
}

.breadcrumbs {
	margin-inline-end: auto;

	&__item {
		display: flex;
		align-items: center;
		gap: 10px;

		cursor: pointer;

		&:hover {
			color: $blue;

			svg {
				color: $blue;
			}
		}
	}
}
