.info-panel {
	grid-row: 1/2 span;
	grid-column: 4 span;
	width: 300px;
	justify-self: flex-end;
}

@media (max-width: 890px) {
	.info-panel {
		width: 100%;
		display: flex;
		align-items: baseline;
		justify-content: flex-start;
		flex-wrap: wrap;
		grid-row: 1;
		grid-column: 1/12 span;
	}
}
