.footer {
  flex: 0 0 auto;
  &__content {
    border-top: 1px solid #f2f2f2;
    padding: 20px 0;
  }
  &__author {
    font-size: 18px;
    font-weight: 700;
    color: #6d6d6d;
    margin-bottom: 10px;
  }
  &__position {
    font-size: 18px;
    color: #959595;
  }
  .container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
  }
}
