.article {
  padding: 140px 15px 20px 15px;
  flex: 1 0 0;
  &__content {
    padding: 50px 70px;
    background-color: #fff;
    box-shadow: -1px 6px 26px -14px rgb(0 0 0 / 25%);
    border-radius: 30px;
    max-width: 1080px;
    margin: 0 auto;
  }

  &__title {
    font-size: 36px;
    margin-bottom: 25px;
    font-family: "Nexa", Arial, Helvetica, sans-serif;
  }

  &__info {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__date {
    font-size: 18px;
    color: #959595;
    margin-left: 10px;
  }
  &__text {
    font-size: 20px;
    line-height: 1.8;
  }

  &__image {
    width: 100%;
    height: 400px;
    margin: 20px 0;
    position: relative;
    img {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__category {
    &::after {
      content: "·";
      display: inline-block;
      font-weight: 700;
      opacity: 0.4;
      margin-left: 10px;
    }
    &-title {
      display: inline-block;
      font-size: 18px;
      color: #959595;
      &:hover {
        text-decoration: underline;
      }
    }
    &-circle {
      background-color: #6bc1ff;
      border-radius: 30px;
      display: inline-block;
      height: 10px;
      margin-right: 10px;
      width: 10px;
    }
  }
  p {
    margin: 20px 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:has(code) {
      background-color: #292525;
      color: #fff;
      margin: 0;
    }
  }
}

@media (max-width: 587px) {
  .article {
    &__content {
      padding: 40px;
    }
    &__title {
      font-size: 30px;
    }
    &__text {
      font-size: 18px;
    }
    &__image {
      height: 260px;
      img {
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 375px) {
  .article {
    &__content {
      padding: 30px;
    }
    &__title {
      font-size: 20px;
    }
    &__text {
      font-size: 14px;
    }
    &__category {
      &::after {
        content: none;
      }
      &-title {
        font-size: 14px;
      }
    }
    &__date {
      font-size: 14px;
    }
  }
}
