.category {
  padding: 140px 0 180px;
  flex: 1 0 0;
  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }
  &__empty {
    grid-row: 1;
    grid-column: 8 span;
    text-align: center;
    font-size: 22px;
    &-title {
      margin-bottom: 20px;
    }
    &-image {
      width: 500px;
      height: 300px;
      object-fit: contain;
    }
  }

  .container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
  }
}

@media (max-width: 890px) {
  .category {
    padding-bottom: 20px;
    &__empty {
      grid-row: 2;
      grid-column: 12 span;
      &-image {
        width: 100%;
      }
    }
  }
}

@media (max-width: 370px) {
  .category {
    &__content {
      gap: 20px;
    }
  }
}
