@import "./font.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  &::-webkit-scrollbar-track {
    background: #d2d2d2;
    border-radius: 50px;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(70, 70, 70, 0.4);
  }
}

body {
  margin: 0;
  font-family: "Proxima Nova Rg", Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
