.projects {
  background-image: url("/img/banner.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  &__mainTitle {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
  }
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 180px;
  }
  &__title {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: "Nexa", Arial, Helvetica, sans-serif;
  }
  &__subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    max-width: 800px;
  }

  .list {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 40px;

      &:nth-child(2n) {
        flex-direction: row-reverse;
        .list {
          &__info {
            margin-left: -40px;
            text-align: right;
          }
          &__top {
            justify-content: flex-end;
          }
        }
        .tags {
          justify-content: flex-end;
        }
      }
    }

    &__info {
      max-width: 50%;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 17px 0 rgb(0 0 0 / 9%);
      background-color: #fff;
      margin-right: -40px;
      position: relative;
      z-index: 1;
    }
    &__itemTitle {
      font-size: 25px;
      font-family: "Nexa", Arial, Helvetica, sans-serif;
    }
    &__itemText {
      font-size: 20px;
      line-height: 1.6;
      margin-bottom: 20px;
    }
    &__preview {
      align-self: flex-start;
      box-shadow: 0 4px 17px 0 rgb(0 0 0 / 9%);

      position: relative;
      width: 700px;
      height: 450px;
      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      &:hover .list__overlay {
        opacity: 0.8;
      }
      &:hover .list__overlay a {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
      }
    }
    &__overlay {
      position: absolute;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0, 0.6);
      border-radius: 10px;
      top: 0;
      left: 0;
      color: #fff;
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: #fff;
        font-size: 50px;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        font-size: 2.5em;
        text-transform: uppercase;
        opacity: 0;
        transition-delay: 0.1s;
        transition-duration: 0.1s;
      }
    }
    &__top {
      display: flex;
      align-items: center;
      line-height: 1.5;
      margin-bottom: 16px;
    }
    &__links {
      display: flex;
      align-items: center;
    }
    &__link {
      margin-left: 10px;
      display: flex;
    }
    &__linkText {
      display: none;
    }

    &__linkDefault {
      svg {
        fill: #fff;
        filter: drop-shadow(0 0 1px rgb(62, 125, 244));
        &:hover {
          filter: drop-shadow(0 0 8px rgb(62, 125, 244));
        }
      }
    }

    &__linkYoutube {
      svg {
        fill: #fff;
        filter: drop-shadow(0 0 1px rgb(255, 0, 0));
        &:hover {
          filter: drop-shadow(0 0 8px rgb(255, 0, 0));
        }
      }
    }

    &__linkGithub {
      svg {
        fill: #fff;
        filter: drop-shadow(0 0 1px rgb(0, 0, 0));
        &:hover {
          filter: drop-shadow(0 0 8px rgb(0, 0, 0));
        }
      }
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8;
  }

  .tag {
    font-size: 12px;
    padding: 6px 16px;
    background-color: #d7e8ff;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
  }
}

@media (max-width: 1448px) {
  .projects {
    .list {
      &__item,
      &__item:nth-child(2n) {
        width: 100%;
        flex-direction: column-reverse;
        .list {
          &__info {
            margin-left: 0;
            text-align: left;
          }
          &__top {
            justify-content: flex-start;
          }
        }
        .tags {
          justify-content: flex-start;
        }
      }
      &__info {
        max-width: 100%;
        width: 80%;
        margin: 0 0 40px 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      &__preview {
        align-self: center;
        width: 80%;
        img {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      &__overlay {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

@media (max-width: 800px) {
  .projects {
    background-size: cover;
    &__content {
      padding-top: 100px;
    }
    .list {
      &__preview {
        height: 200px;
      }
    }
  }
}
