.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  &__top {
    position: relative;

    img {
      position: absolute;
      right: -30px;
      top: 30px;
    }
  }

  &__title {
    font-size: 35px;
  }
  &__wrapper {
    margin: 20px 0 40px 0;
    position: relative;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__arrow {
    position: relative;
    img {
      position: absolute;
      bottom: 0;
      top: 50%;
      left: 35%;
      transform: translate(-35%, -50%) rotate(-190deg) scale(1, -1);
      // top: -54px;
      // left: -160px;
    }
  }
  &__text {
    flex: 0 0 60%;
    font-size: 18px;
    line-height: 1.8;
    margin-left: 40px;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: 40px;
    font-size: 25px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
  }
  &__item {
    margin: 0 20px 20px 0;
    padding: 10px 20px;
    background-color: #d7e8ff;
    &:last-child {
      margin-right: 0;
    }
  }
}

.author {
  // flex: 0 0 10%;
  position: relative;

  width: 300px;
  height: 280px;

  img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
}
.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

@media (max-width: 870px) {
  .about {
    &__arrow {
      img {
        top: 0;
        left: 11%;
        transform: translate(-11%, 0) rotate(-190deg) scale(1, -1);
      }
    }
    .skills {
      &__list {
        width: 100%;
      }
    }

    &__text {
      text-align: center;
      flex: 0 0 100%;
      font-size: 16px;
      margin: 20px 0 0;
    }
  }
}

@media (max-width: 320px) {
  .about {
    &__top {
      img {
        right: -13px;
        top: 39px;
      }
    }
    .author {
      flex: 0 0 80%;
      width: 100%;
      height: 190px;
    }
  }
}
